footer {
    background-color:#ffffff;
    border-top: solid 1px #CCCCCC;
    position: fixed;
    bottom: 0;
    height:60px;
    width:100%;
}

footer p {
    position: absolute;
    text-align: center;
    top: 10%;
    bottom: 0;
    right: 0;
    left: 0;
}