header {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #CCCCCC;
    height: 70px;
    width: 100%;
}