button {
    font-size:18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    opacity: 90%;
    border: 0;
    margin-left: auto;
    margin-right: 30px;
}

.filters {
    background-color: #ffffff;
    height: 70px; 
    width: 100%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.locations, .amenities {
    height: 100%;
    width: 25%;
    padding-left: 30px;
}

.locations {
    border-right: solid #DDDDDD 1px;
} 

.locations h3, .amenities h3 {
    font-weight: 600;
    margin: 15px 0 5px 0;
}

.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}